*{
    padding: 0;
    margin: 0;
    margin: auto;
}
.imgs{
    margin-left:40%;
}
img{
    width:60px;
    border-radius: 50%;
    border:2px solid black;
    text-align: center;
}
.sub{
 margin-left:10%;
 margin-right:10%;
}
.main{
    
    display: flex;
    flex-wrap: wrap-reverse;
   }
.left{
    padding-top: 100px;
    width:50%;
    height: 100vh;
    min-width:270px;
    }
.right{
    padding-top: 200px;
    width:50%;
    min-width:270px;
    height:100vh;
    background: linear-gradient(#f83737, #f648d0);
}
a{
   margin-top: 20px;
    display: block;
    text-align: center;
}
button{
    margin:20px;
    width:100px;
    height:40px;
    border:2px solid black;
    border-radius:35px;
    margin-left:42%;
    background: linear-gradient(#df15be, #f12e2e);
}
.right h1,p{
    padding: 10px;
    color: aliceblue;
    text-align: center;
}
.left h1{
    text-align: center;
    margin:20px;
    text-emphasis: bold;
}
@media screen and (max-width:540px){
    .left{
        width:540px;
        padding-top: 5px;
        margin-top:5px;
        height:60vh;
    }
    .right{
        width:540px;
        padding-top: 5px;
        margin-top:5px;
        height:40vh;
    }
}